@media (max-width:768px){

      .section-block{
            padding:50px 15px;
      }
      .section-block h2{
            font-size:24px;
            margin-bottom:20px;
            padding: 0;
      }

      .about-hero{
            padding:50px 5px;
      }

      .about-hero h1{
            font-size:27px;
            font-weight: 300;
            margin: 0;
      }

      .about-hero p{
            font-size:12px;
            padding: 5px 0 10px 0;
            margin: 0;
      }
      .hero-buttons{
            display:flex;
            padding: 0;
            margin: 20px 0 0 0 ;
      }
      .hero-buttons .btn{
            display:block;
            width:50%;
            font-size: 14px;
            padding: 9px 0;
      }
      
      .mission-main{
            font-size:15px;
      }

      .mission-card,
      .facility-card{
            padding:25px 20px;
      }

      .mission-card i{
            font-size:30px;
      }
      .mission-image{
            margin-bottom:30px;
      }

      .mission-main{
            font-size:15px;
      }


      .modern-card{
            padding:15px 15px;
            margin-bottom:20px;
      }

      .admission-box{
            flex-direction:column;
      }


      .facilities-section{
            padding: 60px 0;
      }

      .section-title{
            font-size: 26px;
      }

      .facility-card{
            padding: 25px 20px;
            border-radius: 16px;
      }
      .facility-icon{
            width: 50px;
            height: 50px;
            font-size: 20px;
      }
      .facility-card h5{
            font-size: 17px;
      }
      .facility-expand{
            font-size: 13px;
      }


      .history-image{
            margin-bottom:25px;
      }

      .section-title{
            text-align:center;
      }
      .section-title::after{
            left:50%;
            transform:translateX(-50%);
      }

      .step-item{
            padding:20px;
            font-size:15px;
      }

      .cta-section{
            padding:20px 0 10px 0;
      }
      .cta-section h3{
            font-size:20px;
      }
      .cta-section a{
            font-size:14px;
            padding:10x 20px;
            margin: 5px !important;
      }
}

@media (max-width:992px){

      .leadership-row{
            gap:20px;
            margin-top: 20px;
      }

      .profile-card{
            margin-bottom:30px;
            padding:30px 20px;
      }

      .profile-card img{
            width:250px;
            height:250px;
            border-radius:50%;
      }
      .profile-text{
            font-size: 14px;
            margin-bottom: 0;
      }
      }
