/* adjusting font sizes as per the required for the screens for all texts */

/* Additional changes of mobile screen to fit all content smoothly */
@media only screen and (min-width:200px) and (max-width:575px){
      .branchCard h1{
            font-size: 28px;
            font-weight: 500;
            color: rgb(54, 82, 13);
            padding: 0 !important;
      }
      .branchCard h4{
            font-size: 20px;
            font-weight: 500;
      }
      .branchCard li{
            font-size: 14px;
      }
      .moreCard p{
            font-size: 16px;
      }
      .moreCard h4{
            font-size: 20px;
            font-weight: 500;
      }
      .moreCard li{
            font-size: 14px;
      }
}

/* Additional changes of tabs (sm> and <lg) screen to fit all content smoothly */
@media only screen and (min-width:575px) and (max-width:1199px){

      
}

@media (min-width: 1400px) {
      .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1400px;
      }
}     