/* adjusting font sizes as per the required for the screens for all texts */

/* Additional changes of mobile screen to fit all content smoothly */
@media only screen and (min-width:200px) and (max-width:575px){
        .Slider1 {
            margin-top: 60px;
            height: 38vh;
      }
      .Slider1 img{
            object-fit: cover;
      }

      .banner-text {
            display: none !important;
      }

      /* Hide slider completely */
      .Slider1 {
            display: none !important;
      }

      /* Show mobile banner */
      .mobile-banner {
            margin-top: 60px;
            display: block;
            position: relative;
            height: 40vh;
            min-height: 220px;
            overflow: hidden;
      }

      .mobile-banner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
      }

      .mobile-banner-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 30px;
            font-weight: 700;
            color: white;
            text-transform: uppercase;
            width: 100%;
      }
      .carousel-indicators button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
      }
       .branchCard {
            margin-bottom: 20px;
      }

      .branchCard img {
            height: 180px;
      }

      .branchBody {
            padding: 16px;
      }

      .branchBody h5 {
            font-size: 16px;
      }

      .branchBody .row > div {
            width: 100%;
            text-align: left !important;
      }
}

/* Additional changes of tabs (sm> and <lg) screen to fit all content smoothly */
@media only screen and (min-width:575px) and (max-width:1199px){

      
}

@media (min-width: 1400px) {
      .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1400px;
      }
}     