*{
      padding: 0;
      margin: 0;
      font-family: 'Times New Roman', Times, serif;
}

.branchCard h1{
      font-size: 44px;
      font-weight: 500;
      color: rgb(54, 82, 13);
}


.branchCard p{
      font-size: 16px;
      text-align: justify;
      margin-bottom: 5px;   
      letter-spacing: .2px;   
}
.branchCard button{
      background-color: transparent;
      width: auto;
      right: 0;
}
.accordion-button:not(.collapsed) {
    color: #104c88;
    background-color: #ffffff;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.moreCard p{
      text-align: justify;
      font-size: 18px;
      letter-spacing: .2px;
}
.moreCard li{
      font-size: 18px;
}

.moreCard button{
      width: auto;
      right: 0;
      padding: 0 10px !important;
}