:root{
--green:#0f6b3e;
--cream:#fbfbef;
}

body{
      background:var(--cream);
      font-family:"Segoe UI", sans-serif;
}

/* HERO */
.contact-hero{
      background:linear-gradient(rgba(15, 107, 63, 0.641),rgba(15, 107, 63, 0.641)),
      url("/Green_mount/img/banner.JPG") center/cover;
      color:#fff;
      padding:100px 0;
}

.info-card{
      background:#fff;
      padding:30px;
      border-radius:18px;
      box-shadow:0 20px 40px rgba(0,0,0,.1);
      transition:.3s ease;
}

.info-card:hover{
      transform:translateY(-5px);
      box-shadow:0 12px 30px rgba(0, 0, 0, 0.232);
}

.info-card i{
      font-size:2rem;
      color:var(--green);
      margin-bottom:10px;
}
.branchContact h2{
      font-size: 40px;
}
#branchTabs button{
      color: #0f6b3e ;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      background-color: var(--green);
      color: white !important;
}

.tab-content{
      border: 1px solid var(--green);
      border-radius: 20px;
      box-shadow: 0 3px 20px rgba(0, 0, 0, 0.143) ;
}
.tab-pane{
      padding: 30px;
}
/* MAP */
.map-frame{
      width:100%;
      height:250px;
      border:0;
      border-radius:15px;
      box-shadow:0 8px 20px rgba(0,0,0,.08);
}

/* FORM */
.contact-form .form-control,
.contact-form .form-select{
      border-radius:30px;
      padding:10px 15px;
}

.btn-success{
border-radius:30px;
}
