body{
      background-color: beige;
}

.nav_image{
      top: 100px;
      left: 10px;
      z-index: 1;
      position: fixed;
      font-size: 24px;
}

.main_container{
      background: linear-gradient(to bottom, #292d33 50%, #7c7451 50%);
}

.image_conatiner img{
      border-radius: 10px;
      border: .5px solid white;
}

h1{
      font-size: 40px;
      font-weight: 100 ; 
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 10px;
}

