body{
      background-color: beige;
}

/* Sticky Wrapper */
.quicklinks-wrapper {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #000000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

/* Horizontal Scroll */
.galQuicklinks {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 10px 0;
}

/* Hide scrollbar (optional clean look) */
.galQuicklinks::-webkit-scrollbar {
    height: 5px;
}
.galQuicklinks::-webkit-scrollbar-thumb {
    background: #0d6efd;
    border-radius: 10px;
}

/* Links */
.quick-link {
    flex: 0 0 auto;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    background: #f5f5f5;
    transition: 0.3s ease;
}

/* Hover */
.quick-link:hover {
    background: #154e38;
    color: #fff;
}

/* Active State */
.quick-link.active {
    background: #0d6efd;
    color: #fff;
    font-weight: 600;
}

/* Demo Content Section */
.content-section {
    height: 600px;
    padding: 50px;
    border-bottom: 1px solid #ddd;
}

.nav_image{
      top: 100px;
      left: 10px;
      z-index: 1;
      position: fixed;
      font-size: 24px;
}


.nav_menu{
      background-color: rgba(255, 255, 255, 0.656) !important;
}
.navItems ul{
      background-color: rgba(255, 255, 255, 0.656) !important;
}
.navItems a{
      background-color: rgba(255, 255, 255, 0.656) !important;
}
.galNav{
      background-color: rgba(255, 255, 255, 0.656) !important;
}

.main_container{
      background: linear-gradient(to bottom, #587363 50%, #71825f 50%);
}

.image_conatiner img{
      object-fit: cover;      /* auto-crop different image sizes */
      border-radius: 5px;
      border: 1.5px solid black;
      height: 400px;
      width: 400px;
      box-shadow: 0 1px 50px rgba(0, 0, 0, 0.5);
      transition: 0.3s;
}

.image_conatiner img:hover{
      transform: scale(1.02);
      box-shadow: 0 1px 50px rgb(0, 0, 0);

}


h1{
      font-size: 40px;
      font-weight: 100 ; 
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 10px;
}

.imgPopupBtn{
      position:absolute ;
      right: 0;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.285);
      border-radius: 0;
}
