@media only screen and (min-width:200px) and (max-width:575px){
      .image_conatiner img{
            height: 200px;
      }
      .quicklinks-wrapper {
            top: 60px; /* adjust if needed */}

      .galQuicklinks {
            padding: 5px 8px;
            gap: 6px;
      }

      .quick-link {
            font-size: 12px;
            padding: 5px 12px;
      }
      h1{
            font-size: 27px;
      }
      .modal-dialog{
            max-height: 80vh;
            margin: 25px ;
      }
      .imgPopupBtn{
            top: 5px;
            right: 5px;
            width: 20px ;
            height: 20px;
            font-size: 15px;
      }
} 