/* adjusting font sizes as per the required for the screens for all texts */

/* Additional changes of mobile screen to fit all content smoothly */
@media only screen and (min-width:200px) and (max-width:575px){
      .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
            justify-content:start;
      }
      .navLogo h2{
            font-size: 20px;
      }
      .navLogo p{
            font-size: 10px;
      }
      .navLogo {
            margin: 0;
      }
      .navbar-toggler {
            position: fixed;
            top: 14px;
            left: 8px;
      }
      footer p{
            font-size: 14px;
      }
}

/* Additional changes of tabs (sm> and <lg) screen to fit all content smoothly */
@media only screen and (min-width:575px) and (max-width:1199px){
      .navLogo h2{
            font-size: 28px;
      }
      .navLogo p{
            font-size: 14px;
      }
}


@media (min-width: 1400px) {

}
