/* adjusting font sizes as per the required for the screens for all texts */

/* Additional changes of mobile screen to fit all content smoothly */
@media only screen and (min-width:200px) and (max-width:575px){

      .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
            justify-content:start;
      }
      .navLogo h2{
            font-size: 20px;
      }
      .navLogo p{
            font-size: 10px;
      }
      .navLogo {
            margin: 0;
      }
      .navbar-toggler {
            position: fixed;
            top: 14px;
            right: 8px;
      }


      .bannerLogo{
            height: 40vh;
      }
      .bannerLogo h1{
            font-size: 20px;
      }
      .bannerLogo p{
            font-size: 12px;
      }
      .bannerLogo img{
            width: 30px;
      }

      .ourMission h1{
            font-size: 40px;
      }
      .ourMission p{
            font-size: 17px;
            line-height: 25px;
      }

      .Slider1{
            height: 40vh;
            overflow: hidden;
      }

      .facilities h1{
            font-size: 40px;
      }
      .facilities h2{
            font-size: 30px;
      }
      .facilities p{
            font-size: 16px;
            font-weight: 100;
            word-spacing: 3px;
            line-height: 25px;
      }

      .aboutUs h1{
            font-size: 40px;

      }
      .aboutUs p{
            font-size: 16px;
            font-weight: 100;
            word-spacing: 3px;
            line-height: 25px;
      }

}

/* Additional changes of tabs (sm> and <lg) screen to fit all content smoothly */
@media only screen and (min-width:575px) and (max-width:1199px){
      .navLogo h2{
            font-size: 28px;
      }
      .navLogo p{
            font-size: 14px;
      }
      .bannerLogo{
            height: 70vh;
      }

      .ourMission p{
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 30px;
            word-spacing: 3px;
      }

      .Slider1{
            height: 60vh;
            overflow: hidden;
      }

}

/* Adjusting min width for the .container class of the bootstrap */
@media (min-width: 1400px) {
      .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1400px;
      }
}
