*{
      font-family: 'Times New Roman', Times, serif;
}
:root{
      --green: #0a3606;
}


.bannerLogo{
      /* setting background image for the first banner of school */
      background: url(/Green_mount/img/banner.JPG) center/cover no-repeat;
      height: 68vh;
      color: white;
} 
.bannerLogo h1{
      margin: 0;
      font-weight: 600;
      font-size: 3rem;
}
.bannerLogo p{
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 18px;
}
.bannerLogo img{
      width:70px;
}

.bannerLogo .buttons button{
      width: 120px;
      padding: 7px 0;
      font-size: 16px;
      border-radius: 10px;
}
.bannerLogo .buttons button:hover{
      color: black;
      border: 1px solid black;
}
.bannerLogo .contBtn{
      border: 1px solid  rgb(255, 193, 7);
      background-color: rgb(255, 193, 7);
      margin-right: 20px;
}
.bannerLogo .gallBtn{
      background-color: #fff;
      border: 1px solid white;
}


.stats{
      background:#fff;
      padding:40px 0;
}
.stats i{
      font-size:2rem;
      color:var(--green);
}
.stats a{
      text-decoration: none;
      color: black;
      font-size: 18px;
      font-weight: 500;
}

/* Cards */
.icon-card{
      background:#fff;
      border-radius:15px;
      padding:30px;
      box-shadow:0 10px 25px rgba(0,0,0,.05);
      height:100%;
}

/* font sizing for mission section */
.ourMission{
      background-color: #fbfbef;
}
.ourMission h1{
      font-size: 50px;
      font-weight: 100;
      margin-bottom: 15px;
      color: var(--green)
}
.ourMission p{
      font-size: 15px;
      color: black;
      text-align: justify;

}

.missBox{
      padding: 20px 30px;
}
.missBox div{
      padding: 20px 40px;
      height: 100%;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.192) !important;
      border: 1px solid rgba(0, 0, 0, 0.44) !important;
      transition: all 0.3s ease;
}
.missBox div:hover{
      box-shadow: 0 2px 20px var(--green) !important;
      border: 1px solid rgba(0, 0, 0, 0.44) !important;
      transform: scale(1.01);
}
.missBox h2{
      font-size: 30px;
      font-weight: 500;
      color: var(--green);
}
.missBox a{
      font-size: 20px;
      text-decoration: none;
      color: var(--green);
}


/* font sizing for facilities section */
.facilities h1{
      font-size: 40px;
      letter-spacing: 2px;
      font-weight: 100;
      color:rgb(121, 9, 9);
      margin-left: 20PX;
      margin-bottom: 0;
}
.faciBox{
      padding: 0 10px;
      text-align: center;
}
.faciBox div{
      border-radius: 10px;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.192) !important;
      overflow: hidden  ;
}
.faciBox div:hover  img{
      transform: scale(1.1);
}
.faci-img{
      height: 200px;        /* SAME HEIGHT */
      width: 100%;
      object-fit: cover;   /* No stretching */
      margin-bottom: 15px;
      transition: all 0.5s ease;
}
.img-big{
      height: 300px;        /* SAME HEIGHT */
      width: 100%;
      object-fit: cover;   /* No stretching */
      margin-bottom: 15px;
      transition: all 0.5s ease;

}
.facilities h2{
      padding: 0 20px;
      font-size: 30px;
      font-weight: 100;
      text-align: start;
}
.facilities p{
      padding:  0 20px;
      font-size: 14px;
      font-weight: 100;
      text-align: justify;
      margin-bottom: 5px;
}
.facilities a{
      font-size: 20px;
      text-decoration: none;
      color: var(--green);
      padding-bottom: 10px;
}

/* Event section styling */
.eventPhotos{
      background-color: #d4e6da63 ;
}
.eventPhotos h1{
      font-size: 45px;
      text-align: center;
      color: var(--green);
      padding: 10px 0;
}
.eventBox div{
      overflow: hidden;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.381) !important;
}
.eventBox {
      padding: 0 25px;
}
/* Hover effect for the event pictures on hover it scales to 1 form 1.5 */
.eventPhotos img{
      transform: scale(1.3);
      transition: all 1s ease;
}

.eventBox div:hover img{
      transform: scale(1);
}
.eventBox h5{
      font-size: 30px;
      position: absolute;
      width: 100%;
      bottom: -10px;
      left: 0;
      padding: 5px 0 5px 20px;
      border-top:2px solid black;
}


.aboutUs h1{
      font-size: 60px;
      font-weight: 100;
      color:rgb(91, 120, 10);
}
.aboutUs p{
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1px;
      word-spacing: 5px;
      line-height: 30px;
}

