/* adjusting font sizes as per the required for the screens for all texts */

/* Additional changes of mobile screen to fit all content smoothly */
@media only screen and (min-width:200px) and (max-width:575px){

      .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
            justify-content:start;
      }
      .navLogo h2{
            font-size: 20px;
      }
      .navLogo p{
            font-size: 10px;
      }
      .navLogo {
            margin: 0;
      }
      .navbar-toggler {
            position: absolute;
            right: 10px;
      }

      /* ------------------------------------Banner------------------------------------ */
      .bannerLogo{
            height: 40vh;
      }
      .bannerLogo img{
            width: 40px;
      }
      .bannerLogo h1{
            font-size: 25px;
            letter-spacing: 0;
            margin: 0;
      }
      .bannerLogo p{
            font-size: 12px; 
      }

      /* ------------------------------------Stats------------------------------------ */
      .stats .col-6{
            display: flex;
            padding: 0px 20px;
            align-items: center;
            margin-top: 10px;
      }
      .stats i{
            margin-right: 10px;
      }
      


      /* ------------------------------Mission------------------------------ */
      .missBox{
            padding: 10px 10px;
      }
      .missBox h1{
            font-size: 10px;
      }
      .ourMission h1{
            font-size: 40px;
      }
      .ourMission p{
            font-size: 13px;
      }
      .ourMission h2{
            font-size: 24px;
      }
      .ourMission a{
            font-size: 20px;
      }

      /* ------------------------------Facility------------------------------ */
      .facilities h1{
            text-align: center;
            font-size: 30px;
            font-weight: 700;
            margin-left: 0;

      }
      .facilities h2{
            font-size: 25px;
      }
      .facilities p{
            font-size: 14px;
            font-weight: 100;
      }

      /* ------------------------------Events------------------------------ */
      .events-section {
            padding: 40px 15px;
      }

      .section-header h2 {
            font-size: 24px;
      }

      .section-header p {
            font-size: 13px;
            padding: 0 10px;
      }

      .event-card img {
            height: 200px;
      }

      .event-overlay {
            padding: 15px;
      }

      .event-overlay h5 {
            font-size: 16px;
      }

      /* ------------------------------------ about ------------------------------------ */
      .aboutUs h1{
            font-size: 40px;

      }
      .aboutUs p{
            font-size: 16px;
            font-weight: 100;
            word-spacing: 3px;
            line-height: 25px;
      }


      /* Admission CTA */
      .admission-cta {
            padding: 20px 15px;
            border-radius: 25px;
            margin: 10px 10px;
            background: linear-gradient(135deg, #198754, #0f5132);
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
      }

      .admission-cta h2 {
            font-size: 22px;
            /* font-weight: 800; */
            /* line-height: 1.4; */
      }

      .admission-cta p {
            font-size: 12px;
            margin-bottom: 20px;
            opacity: 0.95;
      }

      .cta-btn {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border-radius: 50px;
            font-weight: 700;
            background: white;
            color: #198754;
            text-align: center;
      }

      .cta-btn:active {
            transform: scale(0.97);
      }
}

/* Additional changes of tabs (sm> and <lg) screen to fit all content smoothly */
@media only screen and (min-width:575px) and (max-width:1199px){
      .navLogo h2{
            font-size: 28px;
      }
      .navLogo p{
            font-size: 14px;
      }
      .bannerLogo{
            height: 70vh;
      }

      .ourMission p{
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 30px;
            word-spacing: 3px;
      }

      .Slider1{
            height: 60vh;
            overflow: hidden;
      }

}

/* Adjusting min width for the .container class of the bootstrap */
@media (min-width: 1400px) {
      .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1400px;
      }
}
